[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
chardet = "==3.0.4"
docutils = "==0.16"
filestack-python = "==3.2.1"
idna = "==2.10"
kivy-garden = "==0.1.4"
requests = "==2.23.0"
trafaret = "==2.0.2"
urllib3 = "==1.25.11"
Kivy = "==2.0.0"
Pygments = "==2.15.0"
opencv-python = "4.5.3.56"

[dev-packages]
pylint = "*"
black = "==21.8b0"

[requires]
python_version = "3.9"
